
@h: 400px;

svg {
  float: left;
  height: @h;
  width: 300px;
  border: 1px solid black;

  ellipse {
    fill-opacity: 0.4;
  }

  .grid-line {
    stroke: lightgrey;
  }
  .axis {
    stroke: grey;
  }

  .cursor {
    font-family: monospace;
    font-size: 10px;
  }

  .projected-cursor {
    fill: black;
  }

  .projected-point {
    fill: green;
  }

  .edge {
    fill-opacity: 0.2;
  }
}

.model-text-field {
  float: left;
  height: @h;
  width: 400px;
  font-family: monospace;
}

.malformed {
  background-color: #FFF2F2;
}
