.shapesTable {
  tr.hovered {
    background-color: rgba(0, 0, 0, 0.08);
  }
  tbody tr {
    cursor: pointer;
  }
  .abbrevCol {
    max-width: 3em;
  }
  .shapeAbbrev {
    border: 0;
    width: 100%;
  }
  td.skipped {
    background-color: #ddd;
  }
  td.varCell {
    min-width: 4em;
    max-width: 4em;
    overflow: hidden;
  }
  td.thetaVarCell {
    min-width: 3em;
    max-width: 3em;
    overflow: hidden;
  }
  .editableShapeField {
    max-width: 4em;
    border: 0;
  }
  .shapeNameHeader {
    user-select: none;
    .toggleSetMetadataButton {
      cursor: pointer;
    }
  }
  .selectShapeType {
    max-width: 5em;
  }
  th {
    .math {
      font-weight: bold;
    }
  }
}
