.shapesTable {
  .abbrevCol {
    max-width: 3em;
  }
  .shapeAbbrev {
    border: 0;
    width: 100%;
  }
  td.skipped {
    background-color: #ddd;
  }
  td.varCell {
    min-width: 4em;
    max-width: 4em;
    overflow: hidden;
  }
  .shapeName {
    max-width: 4em;
    border: 0;
  }
  .selectShapeType {
    max-width: 5em;
  }
  th {
    .math {
      font-weight: bold;
    }
  }
}
