.svg {

}

.gridLine {
  stroke: lightgrey;
}

.axis {
  stroke: grey;
}

.cursor {
  font-family: monospace;
  font-size: 10px;
  user-select: none;
  cursor: default;
}

.gridLines {

}

.horizontal {

}

.vertical {

}
