.grid {
  border: 1px solid black;
}

.gridLine {
  stroke: lightgrey;
}

.axis {
  stroke: grey;
}

.cursor {
  font-family: monospace;
  font-size: 10px;
  user-select: none;
  cursor: default;
}

.resizeHandle {
  cursor: ns-resize;
  height: 0.5em;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.projection {

}

.gridLines {

}

.horizontal {

}

.vertical {

}
