.body {
  width: 100%;
  padding: 0 0.8em;

  .err {
    padding: 0.1em 0.2em;
  }
  .errSame {
    background-color: #cfc;
  }
  .errFlipped {
    background-color: #fcc;
  }

  .content {
    max-width: 40em;
    margin: 0 auto;

    p, h1, h2, h3, h4 {
      margin-left: 0;
      padding-left: 0;
    }

    hr {
      margin-top: 1em;
    }

    ul {
      margin-left: 1.5em;
      padding-left: 0;

      li {
        padding-left: 0;
        margin-left: 0;
      }
    }

    .row {
      margin-left: 0;
      padding-left: 0;

      label {
        padding-left: 0.2em;
      }
    }

    .svg {
      height: 20em;
      padding: 0;
      border: 0;
    }

    .controlPanel {
      margin-top: 0.3em;

      .controls {
        width: auto;
        margin-right: 1.5em;
        display: inline-block;

        .buttons {
          width: auto;

          button {
            width: auto;
            margin: 0 0.3em 0 0;

            font-size: 2em;
            line-height: 1.8em;

            padding: 0;
            border: 0;
            background-color: transparent;
            font-family: "Twemoji Mozilla",
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji",
            "EmojiOne Color",
            "Android Emoji",
            sans-serif;
          }
        }

        .stepStats {
          display: block;
          width: auto;
          margin-top: auto;
          margin-bottom: auto;
        }

        .repeatSteps {
          margin-top: 0.5em;
        }
        .plotControls {
          margin-top: 0.5em;
        }
      }

      .checkbox {
        margin-right: 0.3em;
      }
    }

    .stats {
      width: auto;
    }

    //.tableLabel {
    //  font-weight: bold;
    //}

    td, th {
      border-width: 1px;
      padding: 0.1em 0.3em;
      white-space: nowrap;
    }
  }
}
