.body {
  hr {
    margin-top: 1em;
  }
}
.row {
  margin-left: 0.5em;
}

.controlPanel {
  margin-top: 0.3em;

  .controls {
    width: auto;
    .buttons {
      button {
        width: auto;
        margin: 0 0.3em 0 0;

        font-size: 1.8em;
        line-height: 1.8em;

        padding: 0;
        border: 0;
        background-color: transparent;
        font-family: "Twemoji Mozilla",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji",
        "EmojiOne Color",
        "Android Emoji",
        sans-serif;
      }
    }
    .checkbox {
      margin-right: 0.3em;
    }
  }
  .stats {
    width: auto;
    margin-left: 1.5em;

    .tableLabel {
      font-weight: bold;
    }

    td, th {
      border-width: 1px;
      padding: 0.1em 0.3em;
      white-space: nowrap;
    }
  }
}
