.body {
  width: 100%;
  padding: 0 0.8em;

  .invisible {
    visibility: hidden;
  }
  .err {
    padding: 0.1em 0.2em;
  }
  .errSame {
    background-color: #cfc;
  }
  .errFlipped {
    background-color: #fcc;
  }

  .content {
    max-width: 50em;
    margin: 0 auto;

    p, h1, h2, h3, h4 {
      margin-left: 0;
      padding-left: 0;
    }

    hr {
      //margin: 0.5em 1em;
    }

    ul {
      margin-left: 1.5em;
      padding-left: 0;

      li {
        padding-left: 0;
        margin-left: 0;
      }
    }

    .row {
      margin-top: 0.5em;
      margin-left: 0;
      padding-left: 0;

    }
    label {
      padding-left: 0.2em;
    }

    .tableTitle {
      //margin-top: 0.3em;
    }
    .tableBreak {
      margin-top: 0.5em;
    }

    .svg {
      height: 20em;
      width: 100%;
      padding: 0;
      border: 0;
    }

    .controlPanel {

      .input {
        text-align: right;

        input {
          text-align: right;
          max-width: 6em;
        }
      }

      .controls {

        .slider {
          width: 15em;
          input {
            width: 100%;
          }
        }

        .buttons {
          margin-bottom: 0.3em;
          span {
            width: auto;
            margin: 0 0.3em 0 0;

            button {
              font-size: 2em;
              line-height: 1em;

              padding: 0;
              border: 0;
              background-color: transparent;
              font-family: "Twemoji Mozilla",
              "Apple Color Emoji",
              "Segoe UI Emoji",
              "Segoe UI Symbol",
              "Noto Color Emoji",
              "EmojiOne Color",
              "Android Emoji",
              sans-serif;
            }
          }
        }

        .stepStats {

          p {
            margin-bottom: auto;
          }
        }

        .repeatSteps {
        }
        .plotControls {
          margin-top: 0.5em;
        }
      }

      .checkbox {
        margin-right: 0.3em;
      }
    }

    .plot {
      width: 20em;
      height: 15em;
    }
    .stats {
      width: auto;
    }

    .sparkLinesTable {
      tr {
        height: 1em;
        font-size: 1em;
        max-height: 1em;
        td, th {
          height: 1em;
          font-size: 1em;
          max-height: 1em;
          text-align: right;
        }
        td.sparkNum {
          //width: 5em;
          min-width: 5em;
          max-width: 5em;
          overflow: hidden;
          text-align: right;
          span {
            width: 100%;
          }
        }
        td.val {
          min-width: 3em;
          max-width: 3em;
          overflow: hidden;
          text-align: right;
          span {
            width: 100%;
          }
        }
      }
    }

    td, th {
      border-width: 1px;
      padding: 0.1em 0.3em;
      white-space: nowrap;
    }
  }
}
