.model-text-field {
  float: left;
  height: 400px;
  width: 400px;
  font-family: monospace;
}
.areas {
  float: left;
  height: 395px;
  width: 200px;
  font-family: monospace;
  font-size: 1.4em;
}
.malformed {
  background-color: #FFF2F2;
}
